<div class="annotation">
    <div class="pilwrap"></div>

    {{#if showComment}}
        <div class="comment" contenteditable></div>
    {{else}}
        <div class="comment">
            <a href="#" {{action "addComment"}}>Add comment</a>
        </div>
    {{/if}}

    <div class="form-container">
        <select class="command form-control">
            {{#each key in commandKeys}}
                <option value={{ key }}>{{ key }}</option>
            {{/each}}
        </select>

        {{#each arg in args}}
            - {{ arg.type }} -
        {{/each}}
    </div>
</div>

<div class="content">
    {{#code-highlighter poll=250 language="php"}}
{{ command.comment }}
{{ command.cmd }}
    {{/code-highlighter}}
</div>
