<div class="annotation">
    <div class="pilwrap"></div>

    {{#if isContentEditable}}
        <div class="comment" contenteditable></div>
    {{else}}
        <div class="comment">
            <a href="#" {{action "addComment"}}>Add comment</a>
        </div>
    {{/if}}

    <div class="form-container">
        {{view "select"
               content=commandKeys
               value=command.cmd
               classNames="form-control command"
        }}

        {{#each arg in command.args}}
            {{input-argument argument=arg}}
        {{/each}}

        {{#unless command.required}}
            <i {{action "drag"}} class="drag-handle fa fa-arrows"></i>
            <i {{action "deleteCommand"}} class="delete-command fa fa-times"></i>
        {{/unless}}

        <span class="category">{{ category }}</span>
    </div>
</div>

<div class="content">
    {{#code-highlighter poll=250 language="php"}}
{{ command.comment }}
{{ command.output}}
    {{/code-highlighter}}
</div>
