{{#if showComment}}
    <div class="comment" contenteditable></div>
{{else}}
    <div class="comment">
        <a href="#" {{action "showComment"}}>Add comment</a>
    </div>
{{/if}}

<div class="comment-output renderer">
    {{#code-highlighter poll=250}}
        {{ comment }}
    {{/code-highlighter}}
</div>

<div class="form-container">
    <select class="form-control">
        {{#each key in commandKeys}}
            <option value={{ key }}>{{ key }}</option>
        {{/each}}
    </select>
</div>

<div class="command-output renderer">
    {{#code-highlighter poll=250}}
        {{ command }}
    {{/code-highlighter}}
</div>
