<div class="annotation">
    <div class="pilwrap"></div>

    {{#if isCommentVisible}}
        {{#if isContentEditable}}
            <div class="comment" contenteditable></div>
        {{else}}
            <div class="comment">
                <a href="#" {{action "addComment"}}>Click here to add a comment</a>
            </div>
        {{/if}}
    {{/if}}

    <div class="form-container">
        {{view "select"
               content=commandKeys
               value=command.cmd
               classNames="form-control command"
        }}

        <i {{action "help"}} class="help fa fa-question-circle"></i>

        {{#each arg in command.args}}
            {{input-argument argument=arg}}
        {{/each}}

        {{#unless command.required}}
            <i {{action "drag"}} class="drag-handle fa fa-arrows"></i>
            <i {{action "deleteCommand"}} class="delete-command fa fa-times"></i>
        {{/unless}}

        <i {{action "toggleComment"}} class="toggle-comment fa fa-comment"></i>

        <span class="category">{{ category }}</span>
    </div>
</div>

<div class="content">
    {{#code-highlighter poll=250 language="php"}}
{{ command.comment }}
{{ command.output}}
    {{/code-highlighter}}
</div>
