{{#each command in script}}
    {{command-builder command=command
                      commands=commands
                      delete="deleteCommand"
                      replace="replaceCommand"
    }}
{{/each}}

{{#if showNewCommandEditor}}
    <li id="new-command" class="command-builder">
        <div class="annotation">
            <div class="comment">Select a command:</div>

            <div class="form-container">
                {{view "select" content=commands
                                prompt="Select..."
                                classNames="form-control command"
                                optionValuePath="content.cmd"
                                optionLabelPath="content.cmd"
                                optionGroupPath="category"
                }}
            </div>
        </div>
    </li>
{{/if}}

<li id="add-command">
    <div class="annotation">
        {{#if isDownloadAvailable}}
            <button {{action "download"}} type="button" class="btn btn-default {{ disabledClass }}">
                <i class="fa fa-download"></i> Download
            </button>
        {{/if}}

        <button {{action "copyToClipboard"}} type="button" class="btn btn-default {{ disabledClass }}">
            <i class="fa fa-files-o"></i> Copy to Clipboard
        </button>

        <button {{action "addCommand"}} type="button" class="btn btn-success">
            <i class="fa fa-plus"></i> Add Command
        </button>
    </div>
</li>
